<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Les chaines</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Ajouter une chaine" ng-click="$ctrl.showAddChannelPrompt($event)" >
            Ajouter une chaine
        </md-button>
    </div>
</md-toolbar>
<div ng-cloak >
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div class='md-padding' layout="row" layout-wrap>
            <mh-channel-preview 
                    mh-channel="channel"                    
                    ng-repeat="channel in $ctrl.channelList">
            </mh-channel-preview>
        </div>
        </div>
    </md-content>
</div>

