<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Les chaines</span>
        </h2>
        <span flex></span>
        <md-button class="md-raised" aria-label="Ajouter une chaine" ng-click="$ctrl.showAddChannelPrompt($event)" >
            Ajouter une chaine
        </md-button>
    </div>
</md-toolbar>


<div ng-cloak flex>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex class='md-padding' layout="row" layout-wrap>
                <mh-channel-preview flex="30" ng-repeat="channel in $ctrl.channelList"
                                    mh-channel="channel"
                                    mh-on-channel-remove="$ctrl.removeChannel(channel)">
                </mh-channel-preview>
        </div>
    </md-content>
</div>

