<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>
            <span>Les chaines</span>
        </h2>
        <span flex></span>


            <md-input-container md-theme="input" flex ng-show="showSearch">
                <label>&nbsp;</label>
                <input ng-model="searchText" placeholder="Qui cherche trouve ... ou pas :)">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
                <i class="material-icons">search</i>
            </md-button>


        <md-button class="md-raised" aria-label="Ajouter une chaine" ng-click="$ctrl.showAddChannelPrompt($event)" >
            Ajouter une chaine
        </md-button>
    </div>
</md-toolbar>


<div ng-cloak flex>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex class='md-padding' layout="row" layout-wrap>
                <mh-channel-preview flex="30" ng-repeat="channel in $ctrl.channelList | filter:searchText"" class="fade"
                                    mh-channel="channel"
                                    mh-on-channel-remove="$ctrl.removeChannel(channel)"
                                    mh-on-channel-edit="$ctrl.showEditChannelPrompt($event, channel)"
                                    ng-animate-ref="{{ channel.channelId }}">
                </mh-channel-preview>
        </div>
    </md-content>
</div>

