

.mh-channel-preview {
  background-color: lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 6px 15px 0 rgba(255, 255, 255, 0.26);
}

.mh-channel-preview-image {
  height: 50px;
  padding: 10px;
}

.mh-channel-preview-in-list.ng-hide {
  transition:.3s linear all;
  opacity:0;
}
.mh-channel-preview-in-list.on {
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.mh-podcast-image {
  height: 200px; 
}
.mh-podcast-title {
  /*background: cornflowerblue;*/
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  padding: 2px;
}

.mh-podcast-title-and-cover {
  flex: 0 0 200px;
}

.mh-episode-list {
  height: 300px;
  overflow: auto;
}

.mh-podcast-view-in-list {
  margin: 30px;
  /*background-color: rgba(red, green, blue, 0.5);*/
}

.mh-episode-actions-column {
  flex: 0 0 50px;
  margin: 2px;
}

.mh-episode-details {
  color: gray;
  font-size: 10px;
}

.mh-channel-img-in-channel-view {
    position: fixed;
    top: 100px;
    right: 16px;
}

.mh-podcast-episodes {
  background-color: rgba(66,66,66,0.7);
}
