

.mh-channel-preview {
  background-color: lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 6px 15px 0 rgba(255, 255, 255, 0.26);
}

.mh-channel-preview-image {
  height: 50px;
  padding: 10px;
}

.mh-channel-preview-in-list {
  height: 130px;
  opacity: 1;
  -webkit-transition: height 0.5s ease, opacity 0.4s ease 0.5s;
  -moz-transition: height 0.5s ease, opacity 0.4s ease 0.5s;
  -o-transition: height 0.5s ease, opacity 0.4s ease 0.5s;
  transition: height 0.5s ease, opacity 0.4s ease 0.5s;
}

.mh-channel-preview-in-list.off {
  opacity:0;
  height: 0px;
  -webkit-transition: opacity 0.4s ease, height 0.5s ease 0.4s;
  -moz-transition: opacity 0.4s ease, height 0.5s ease 0.4s;
  -o-transition: opacity 0.4s ease, height 0.5s ease 0.4s;
  transition: opacity 0.4s ease, height 0.5s ease 0.4s;
}

.mh-channel-view-in-list {
  opacity: 0;
}
.mh-channel-view-in-list.on {
  opacity: 1;
  -webkit-transition: all 0.2s ease 1s;
  -moz-transition: all 0.2s ease 1s;
  -o-transition: all 0.2s ease 1s;
  transition: all 0.2s ease 1s;
}

.mh-channel-view-in-list.off {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mh-channel-preview-in-list.on {
  /*top: 550px;*/
  /*transform: scale(1.01);*/
  transition: all 1s ease-in-out;
  /*transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transform: scale(1.02); */
}


.mh-podcast-image {
  height: 200px; 
}
.mh-podcast-title {
  /*background: cornflowerblue;*/
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  padding: 2px;
}

.mh-podcast-title-and-cover {
  flex: 0 0 200px;
}

.mh-episode-list {
  height: 300px;
  overflow: auto;
}

.mh-podcast-view-in-list {
  margin: 30px;
  /*background-color: rgba(red, green, blue, 0.5);*/
}

.mh-episode-actions-column {
  flex: 0 0 50px;
  margin: 2px;
}

.mh-episode-details {
  color: gray;
  font-size: 10px;
}

.mh-channel-img-in-channel-view {
    position: fixed;
    top: 100px;
    right: 16px;
}

.mh-podcast-episodes {
  background-color: rgba(66,66,66,0.7);
}
