<md-toolbar class="demo-toolbar _md _md-toolbar-transitions">
    <div class="md-toolbar-tools">
        <h3>Podcasts</h3>
    </div>
</md-toolbar>

<div ng-cloak >
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div class='md-padding' layout="row" layout-wrap>
            <md-card flex="30" flex-sm="80" ng-repeat="podcast in $ctrl._podcastList">
                <mh-podcast-preview
                        mh-podcast="podcast">
                </mh-podcast-preview>
            </md-card>
        </div>
        </div>
    </md-content>
</div>

