<div>
       <mh-podcast-form mh-on-podcast-add="$ctrl.addPodcast({podcast: $ctrl.podcast})">
        </mh-podcast-form>
</div>


<div ng-cloak layout="column" flex>
    <mh-podcast-view class="mh-podcast-view-in-list md-whiteframe-6dp"
                     mh-podcast="podcast" 
                     mh-on-podcast-remove="$ctrl.removePodcast({podcast : podcast})" 
                     mh-on-show-episodes="$ctrl.onShowEpisodes({podcast : podcast})"
                     ng-repeat="podcast in $ctrl._podcastList" >
    </mh-podcast-view>
<div>
