
    <img ng-src="https://material.angularjs.org/latest/img/washedout.png"
         class="md-card-image" alt="Washed Out">
   <!-- <img ng-src="{{ $ctrl.channel.thumbnail_url }}"
         class="md-card-image" alt="channel image">
         -->
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{ $ctrl.channel.title }}</span>
            <span class="md-subhead"><a ui-sref='channel({channelId: $ctrl.channel.channelId})'>
        {{ $ctrl.channel.getPodcastsId().length }} podcasts </a></span>
        </md-card-title-text>
    </md-card-title>

    <md-card-content>
        <p>
            {{ $ctrl.channel.comment }}
        </p>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.onChannelRemove()">
            <md-tooltip md-direction="left">
                Supprimer
            </md-tooltip>
            <i class="material-icons">delete</i>
        </md-button>
    </md-card-actions>
