<form>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Une nouvelle chaine ? génial, je me réjouis !</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>

<md-dialog-content style="max-width:800px;max-height:1000px;">
    <md-content class="md-no-momentum">
    <div class="md-dialog-content" layout="column" layout-padding ng-cloak>
        <div>
            <md-input-container class="md-block" flex>
                <label>Donner un titre à votre chaîne</label>
                <input name="title" ng-model="$ctrl.title" />
                <div class="hint">Histoire ? Géopoltique ?</div>
            </md-input-container>


            <md-input-container class="md-block" flex>
                <label>Décrire votre chaîne en quelques mots</label>
                <textarea ng-model="$ctrl.comment" rows="4" md-select-on-focus></textarea>
            </md-input-container>
        </div>
        <div class="md-dialog-content">
            <md-input-container class="md-block" flex>
                <label>Url de l'image qui représentera votre chaîne</label>
                <input name="image" ng-model="$ctrl.thumbnail_url" />
            </md-input-container>
    </div>
    </div>
    </md-content>

</md-dialog-content>

<md-dialog-actions layout="row">
    <md-button class="md-raised"
               aria-label="Ajouter une chaîne"
               ng-click="$ctrl.addChannel({channel: $ctrl.channel})">
        Ajouter une chaîne</md-button>
</md-dialog-actions>
</form>





