<!--<div flex-gt-sm="100" flex>

    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Episode</span>
        </div>
    </md-toolbar>

    <md-content>

        <md-list class="md-dense" ng-cloak>
            <md-list-item class="md-2-line" ng-repeat="episode in $ctrl.episodeList">
            <mh-episode-preview
                    mh-episode="episode" 
                    mh-download-notifier="$ctrl.episodeStore.setAlreadyDownloaded(episode)">
            </mh-episode-preview>
            </md-list-item>
        </md-list>
    </md-content>
</div>
-->
<div layout="column" ng-cloak>
    <md-content>
        <md-list>
            <md-subheader class="md-no-sticky">Episodes</md-subheader>
            <md-list-item class="md-2-line contact-item" ng-repeat="episode in $ctrl.episodeList"
                          >
                <mh-episode-preview
                    mh-episode="episode" 
                    mh-download-notifier="$ctrl.episodeStore.setAlreadyDownloaded(episode)">
            </mh-episode-preview>

            


            </md-list-item>
        </md-list>
    </md-content>
</div>
