<div layout="row" layout-sm="column" layout-align="space-around" ng-show="$ctrl.isLoading === true">
        <md-progress-circular ng-disabled="!vm.activated" md-diameter="96"></md-progress-circular>
</div>

<md-list>
<md-list-item ng-repeat="episode in $ctrl.episodeList" class="noright">
    <mh-episode-preview flex
                        mh-episode="episode"
                        mh-download-notifier="$ctrl.episodeStore.setAlreadyDownloaded(episode)">
    </mh-episode-preview>
</md-list-item>
</md-list>
