<md-card-title>
    <md-card-title-text>
        <span class="md-title" ng-click="$ctrl.showEpisodes()">{{ $ctrl.podcast.content.title }}</span>
       <!--  <span class="md-subhead">{{ $ctrl.podcast.content.description }}</span> -->
    </md-card-title-text>
    <md-card-title-media>
        <div class="md-media-lg card-media">
            <img ng-src="{{ $ctrl.podcast.content.cover_url }}"
                 height="200px"
                 ng-click="$ctrl.showEpisodes()"/>
        </div>
    </md-card-title-media>
</md-card-title>
