<md-card-title>
    <md-card-title-text>
        <span class="md-title" ng-click="$ctrl.showEpisodes()">{{ $ctrl.podcast.content.title }}</span>
        <!--  <span class="md-subhead">{{ $ctrl.podcast.content.description }}</span> -->
    </md-card-title-text>
    <md-card-title-media>
        <div class="md-media-lg card-media">
            <img ng-src="{{ $ctrl.podcast.content.cover_url }}"
                 height="200px"
                 ng-click="$ctrl.showEpisodes()"/>
        </div>
    </md-card-title-media>
</md-card-title>
<md-card-actions layout="row" layout-align="end center">
    <md-button class="md-icon-button" aria-label="Delete podcast" ng-click="$ctrl.onPodcastRemove()">
        <md-tooltip md-direction="left">
            Supprimer ce podcast
        </md-tooltip>
        <i class="material-icons">delete_forever</i>
    </md-button>
</md-card-actions>