<div layout="row">
    <div class="md-list-item-text" flex="66">
        <h3 layout-align="left">{{ $ctrl.episode.title}} </h3>
        <p layout-align="left">{{ $ctrl.episode.size | mhfilesize }} - {{ $ctrl.episode.duration | mhseconds }}</p>
    </div>
    <div flex="33" > <!-- layout="row" layout-align="end center" -->
        <md-button class="md-fab" 
                   ng-class="{'md-primary': $ctrl.episode.downloaded === false, 'md-warn' : $ctrl.episode.downloaded === true}" 
                   aria-label="Download" 
                   href="{{ $ctrl.episode.contentUrl }}" 
                   ng-click="$ctrl.setDownloaded()">
          <i class="material-icons">backup</i>
        </md-button>
    </div>
</div>
