 <div layout="row" layout-wrap>       
        <div flex="66" class="md-list-item-text compact">
            <h3>{{ $ctrl.episode.title }}</h3>
            <p>{{ $ctrl.episode.size | mhfilesize }} - {{ $ctrl.episode.duration | mhseconds }}</p>            
        </div>
        <div flex="33" >

        <md-button href="{{ $ctrl.getContentUrlWithTracker() }}"
            ng-class="{'md-primary': $ctrl.episode.downloaded === false, 'md-warn' : $ctrl.episode.downloaded === true}" 
            aria-label="Download" 
            ng-click="$ctrl.downloadRequested()">
            <i class="material-icons">backup</i>
        </md-button>
      </div>
</div>
<md-divider ng-if="!$last"></md-divider>

       